<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Iniciar Sesion</h1>
    </div>

    <div>
        <form asp-action="Login" asp-controller="Home" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <input type="text" name="username" value="" />
            <input type="password" name="password" value="" />
            <input type="submit" name="submit" value="Iniciar Sesion" />
        </form>
    </div>
</body>
</html>

